@{
    ViewBag.Title = "Financial";
}

<div class="content animate-panel">
    <div class="row">
        <div class="col-lg-5">
            <div class="hpanel">
                <div class="panel-heading">
                    <div class="panel-tools">
                        <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                        <a class="closebox"><i class="fa fa-times"></i></a>
                    </div>
                    Compound Interest Calculator
                </div>
                <div class="panel-body">
                    <form method="post" role="form" class="form-horizontal" id="compIntForm">
						<div class="form-group">
							<label class ="col-sm-4 control-label">Starting Balance</label>
							<div class="col-sm-8">
                                <div class="input-group m-b">
                                    <span class="input-group-addon">$</span>
                                    <input id="txtprincBalance" name="princBalance" type="text" class="form-control" /><br />
                                </div>
                            </div>

							<label class ="col-sm-4 control-label">Monthly Contribution</label>
							<div class="col-sm-8">
                                <div class="input-group m-b">
                                    <span class="input-group-addon">$</span>
                                    <input id="txtcontribAmt" name="contribAmt" type="text" class="form-control" /><br />
                                </div>
                            </div>

                            <label class="col-sm-4 control-label">Interest Rate</label>
                            <div class="col-sm-8">
                                <div class="input-group m-b">
                                    <input id="txtintRate" name="intRate" type="text" class="form-control" /><br />
                                    <span class="input-group-addon">%</span>
                                </div>
                            </div>

                            <label class="col-sm-4 control-label">Interest Compounded</label>
                            <div class="col-sm-8">
                                <div class="input-group m-b">
                                    <input id="txtcompoundInterval" name="compoundInterval" type="text" class="form-control"/><br />
                                    <span class="input-group-addon">Times Per Year</span>
                                </div>
                            </div>

                            <label class="col-sm-4 control-label">Years Invested</label>
                            <div class="col-sm-8">
                                <div class="input-group m-b">
                                    <input id="txtinvestmentDuration" name="investmentDuration" type="text" class="form-control" aria-required="true" aria-invalid="true" /><br />
                                    <span class="input-group-addon">Years</span>
                                </div>
                            </div>
                        </div>
                        
                        <button class="btn btn-sm btn-primary m-t-n-xs" type="submit"><strong>Submit</strong></button>
                        <div class="errorText"></div>
                    </form>
                    

                </div>
            </div>
            <div class="hpanel">
                <div class="panel-heading">
                    <div class="panel-tools">
                        <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                        <a class="closebox"><i class="fa fa-times"></i></a>
                    </div>
                    Summary
                </div>
                <div class="panel-body">
                    @Html.Raw(ViewBag.summaryText)
                </div>
            </div>
        </div>
        <div class="col-lg-7">
            <div class="hpanel">
                <div class="panel-heading">
                    <div class="panel-tools">
                        <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                        <a class="closebox"><i class="fa fa-times"></i></a>
                    </div>
                    Results
                </div>
                <div class="panel-body">

                    <div id="subscriberCount" style="min-width: 400px;"></div>
                    
                    <script src="https://code.highcharts.com/highcharts.js"></script>
  
                    <div id="compIntChart" style="min-width: 200px; margin: 0 auto"></div>
                    <script>
                        var subCount;
                        $(document).ready(function () {
                            BillingPerformance = new Highcharts.Chart({
                                chart: { renderTo: 'compIntChart', defaultSeriesType: 'spline', zoomType: 'x', resetZoomButton: { position: { align: 'left', y: -10 } } },
                                credits: { enabled: false },
                                exporting: { enabled: false },
                                title: { text: 'Projected Balance of Compound Interest Investment' },
                                xAxis: { title: { text: 'Investment Age (Years)' } },
                                yAxis: { min: 0, title: { text: 'Balance' } },
                                series: [{
                                    data: [@ViewBag.chartData], name: 'Projected Balance', marker: { symbol: 'circle' }
                                }]
                            });
                        });
                    </script>
                    <script>

    $(function(){

        $("#compIntForm").validate({
            rules: {
                princBalance: {
                    required: true,
                    minlength: 3
                }
            },
            messages: {
                princBalance: {
                    required: "Please enter a valid starting balance",
                    
                }
            },
            submitHandler: function(form) {
                form.submit();
            },
            errorElement: 'div',
            errorLabelContainer: '.errorText'
            //errorPlacement: function (error, element) {
            //    $(element).closest(".hpanel").append(error);
            //}
        });


    });
                    </script>

                </div>
            </div>
        </div>
    </div>
</div>
